
.preview:hover{
    background-color: rgba(255, 255, 255, 0.048);
    background-blend-mode: lighten;
    transition: all 0.1s ease-in-out;

}
.page-content.overlay{
    filter: blur(15px);
}
.year.new{
    color: yellow;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.671);
    z-index: 2;
    cursor: pointer;
  }
#fsImage{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    

    width: 95%;
    max-height: 1000px;
    max-width: 2000px;

    height: 95%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.nameContainer.selected{
    background-color: rgba(255, 121, 210, 0.486);
}
.nameContainer.selected:hover{
    background-color: rgba(163, 40, 122, 0.486);
}
.nameContainer:hover{
    background-color: rgba(255, 255, 255, 0.178);
    cursor: pointer;
}

.fullS{
    width: 50px;
    height: 50px;
    background-image: url(/assets/images/icons/fullscreen.svg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 15px;
    transition: all 0.1s ease-in-out;

}
.fullS:hover{
    width: 65px;
    height: 65px;
}
.info1{
    display: flex;
    flex-direction: column;
    align-items: right;
    background-color: rgba(240, 248, 255, 0.096);
}

@media all and (max-width:680px){
    .line3{
        font-size: .8rem;
        padding: 0px;
        color: rgba(255, 255, 255, 0.568);
        margin:0px;
        margin-bottom: 10px;
    }
    .title{
        font-size: 1.7rem;
        margin: 0px;
        font-family: ag_B;
        font-style: bold;
        padding: 0px;
        height: 50%;
    }
    .preview.loading{
        .fullS{
            display: none;
        }
    }
    .container{
        margin-top: 70px;
        padding: 9px;
        justify-content: center;
        align-content: center;
        
    }
    .info1{
        display: flex;
        flex-direction: column;
        align-items: right;
        background-color: rgba(240, 248, 255, 0.096);
    }
    .top{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    .preview{
        display: flex;
        background-size: cover;
        justify-content: right;
        border-radius: 10px;
        position: relative;
        height: 400px;
        align-items: start;
        background-position: center;
        margin-bottom: 10px;
    }
    
    .nameContainer{
        width:100%;
        background-color: rgba(0, 0, 0, 0.692);
        border: 1px solid rgba(255, 255, 255, 0.226);
        align-items: center;
        display: flex;
        padding-bottom: 10px;
        flex-direction: row;
        .name{
            font-size: 18px;
            margin: 0;
            padding: 8px;
        }
        .year{
            font-size: 17px;
            color: rgba(255, 255, 255, 0.616);
        }
        
    }
    
    .preview.loading::after{
        content: "";
        width: 100px;
        height:100px;
        background-image: url(/assets/images/icons/loading2.gif);
        background-size: contain;
        transition: opacity 0.5s ease-in-out;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    
   
}
@media all and (min-width:681px) {
    .title{
        display: none;
    }
    .page-container{
        display: flex;
        align-items: center;
        margin: auto;
        width: 100%;
        padding : 20px 20px;

    }
    .preview{
        width:95%;
        height:500px;
        background-size: cover;
        background-color: black;
        display: flex;
        justify-content: right;
        align-items:start;
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.589);
        cursor:pointer;
        margin-right: 15px;
        background-position: center;
        transition: all 0.1s ease-in-out;

    }
    .container {
        display: flex;
        flex-direction: column;
        max-width: 850px;
        display: flex;
        width: 100%;
        margin: auto;        
        justify-content: space-between;
        border-radius: 25px;
        background-size: cover;
        background-image: url(/assets/images/imalive_background.png);
        background-color: rgba(0, 0, 0, 0.822);
        background-blend-mode: multiply;
        margin-bottom: 25px;
        height: auto; 
        overflow-y: auto; 
        flex-grow: 1;
        max-height: 600px; 
        padding: 10px 0px;
        background-position-x: center;

    }
    .nameContainer{
        width:19rem;
        background-color: rgba(0, 0, 0, 0.692);
        border: 1px solid rgba(255, 255, 255, 0.226);
        height: 35px;
        align-items: center;
        display: flex;
        flex-direction: row;
        .name{
            font-size: 18px;
            margin: 0;
            padding: 8px;
        }
        .year{
            font-size: 17px;
            color: rgba(255, 255, 255, 0.616);
        }
    }
    
    .top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        width: 97%;
    }
    .preview.loading{
        justify-content: center;
        align-items:center;
        .fullS{
            display: none;
        }
    }
    .preview.loading::after{
        
        content: "";
        width: 100px;
        height:100px;
        background-image: url(/assets/images/icons/loading2.gif);
        background-size: contain;
        transition: opacity 0.5s ease-in-out;
    
    }
    
    
}
